/* Black #191716 */
/* White #e0e2db */
/* yellow #e6af2e */
/* gray #beb7a4 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto',
    sans-serif;
}

/* nav */

nav ul {
  list-style-type: none;
  border-top: 6px solid #e6af2e;
}

/* end nav */